* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    color: rgb(3, 3, 3);
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}

#hero {
    background-image: url(./image/[1920x1080]\ Anybody\ have\ 4k\ version\ of\ this_\ \(1\).jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
}

#hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: darkgray;
    opacity: .7;
    z-index: -1;
}

#hero .hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}

#hero h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}

#hero h1:nth-child(1) {
    animation-delay: 1s;
}

#hero h1:nth-child(2) {
    animation-delay: 2s;
}

#hero h1:nth-child(3) {
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
}

#hero h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: steelblue;
    animation: text_reveal_box .5s ease;
    animation-delay: 1s;
}

#hero h1:nth-child(1) span {
    animation-delay: .5s;
}

#hero h1:nth-child(2) span {
    animation-delay: 1.5s;
}

#hero h1:nth-child(3) span {
    animation-delay: 2.5s;
}

#hero .cta {
    display: inline-block;
    padding: 10px 30px;
    color: steelblue;
    background-color: transparent;
    border: 2px solid steelblue;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 36px;
    transform: .3s ease;
    transition-property: background-colour, color;
}

#hero .cta:hover {
    color: whitesmoke;
    background-color: steelblue;
}

#services {}

#services .services {
    flex-direction: column;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 100px 0;
}

#services .section-title {
    font-size: 4rem;
    font-weight: 300;
    color: rgba(27, 24, 24, 0.308);
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2rem;
    text-align: center;
}

#services .section-title span {
    color: steelblue;
}

#services .service-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#service .service-item {
    flex-basis: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(./image/20498629.jpg);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
}

#services .service-item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 50%;
    width: 50%;
    background-image: rgba(22, 21, 21, 0.438);
    opacity: .8;
    z-index: -1;
    overflow: hidden;
}

.service .col-right .icon {
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}

#services .service-item h2 {
    font-size: 2rem;
    color: rgb(5, 5, 5);
    margin-bottom: 10px;
    text-transform: uppercase;
}

#services .service-item p {
    color: rgb(124, 107, 107);
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.9rem;
}

#about .about {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1000px 20px;
}

#about .col-right {
    width: 100%;
}

#about .col-right h2 {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}

#about .col-rightp {
    margin-bottom: 20px;
}

#about .col-right .cta {
    color: black;
    margin-bottom: 50px;
}

@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal {
    100% {
        color: whitesmoke;
    }
}

@keyframes text_reveal_name {
    100% {
        color: steelblue;
        font-weight: 500;
    }
}